<h2 class="page-header">Редактировать страну</h2>

<%= simple_form_for @country, url: country_path do |f| %>
  <%= f.input :name, label: 'Страна' %>
  <%= f.input :full_name, label: 'Полное название' %>
  <%= link_to 'Назад', country_index_path, class: 'btn btn-primary btn-sm' %>
  <%= f.button :submit, value: 'Сохранить изменения', class: 'btn btn-primary btn-sm' %>
<% end %>