<h4>Все страны</h4>

<%= link_to 'Добавить страну', new_country_path %>
<table>
  <tr>
    <th><strong>Страна:</strong></th>
    <th><strong>Полное название:</strong></th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @country.each do |country| %>
  <tr>
    <td><%= country.name %></td>
    <td><%= country.full_name %></td>
    <td><%= link_to 'Просмотреть', country_path(country)%></td>
    <td><%= link_to 'Изменить', edit_country_path(country)%></td>
    <td><%= link_to 'Удалить', country_path(country), method: :delete,
                    data: { confirm: 'Вы действительно хотите удалить запись?' }%></td>
  </tr>
  <% end %>
</table>