<h2 class="page-header">Страны</h2>

<%= link_to 'Добавить страну', new_country_path, class: 'btn btn-primary navbar-btn' %>
<table class="table table-hover">
  <tr>
    <th>Страна</th>
    <th>Полное название</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @country.each do |country| %>
  <tr>
    <td><%= country.name %></td>
    <td><%= country.full_name %></td>
    <td><%= link_to icon('eye', class: 'fa-lg'), country_path(country) %></td>
    <td><%= link_to icon('pencil', class: 'fa-lg'), edit_country_path(country)%></td>
    <td><%= link_to icon('trash', class: 'fa-lg'), country_path(country),
                    method: :delete, data: { confirm: 'Вы действительно хотите удалить запись?' }%></td>
  </tr>
  <% end %>
</table>