<h2 class="page-header">Добавить страну</h2>

<%= simple_form_for @country, url: country_index_path do |f| %>
  <%= f.input :name, label: 'Страна', hint: 'заполни' %>
  <%= f.input :full_name, label: 'Полное название' %>
  <%= link_to 'Назад', country_index_path, class: 'btn btn-primary btn-sm' %>
  <%= f.button :submit, value: 'Добавить страну', class: 'btn btn-primary btn-sm' %>
<% end %>
