<h2>Просмотр</h2>

<table>
  <tr>
    <td><strong>Страна:</strong></td>
    <td><%= @country.name %></td>
  </tr>
  <tr>
    <td><strong>Полное название:</strong></td>
    <td><%= @country.full_name %></td>
  </tr>
</table>
<%= link_to 'Назад', country_index_path %>
<%= link_to 'Редактировать', edit_country_path(@country) %>


<h3>Регионы в стране:</h3>
<table>
  <tr>
  <th>Название региона</th>
  <th>Код региона</th>
  </tr>
<% @country.regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.code %></td>
      </tr>
<% end %>
</table>