<h2 class="page-header"><%= @country.name %></h2>

<p>Полное название: <strong><%= @country.full_name %></strong></p>

<br>
<%= link_to 'Назад', country_index_path, class: 'btn btn-primary btn-sm' %>
<%= link_to 'Редактировать', edit_country_path(@country), class: 'btn btn-primary btn-sm' %>

<hr>
<h3>Регионы в стране:</h3>
<table class="table table-hover">
  <tr>
  <th>Название региона</th>
  <th>Код региона</th>
  </tr>
<% @country.regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.code %></td>
      </tr>
<% end %>
</table>