<h2 class="page-header">Регионы</h2>

<%= link_to 'Добавить регион', new_region_path, class: 'btn btn-primary navbar-btn' %>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Страна <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="country_filter"><a href="#" id="country_all">Все страны</a></li>
    <% @country.each do |country| %>
    <li class="country_filter"><a href="#"><%= country.name %></a></li>
    <% end %>
  </ul>
</div>

<table class="table table-hover">
  <tr>
    <th>Страна</th>
    <th>Название региона</th>
    <th>Код региона</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @region.each do |region| %>
      <tr class="row_region">
        <td><%= region.country.name %></td>
        <td><%= region.name %></td>
        <td><%= region.code %></td>
        <td><%= link_to icon('eye', class: 'fa-lg'), region_path(region)%></td>
        <td><%= link_to icon('pencil', class: 'fa-lg'), edit_region_path(region)%></td>
        <td><%= link_to icon('trash', class: 'fa-lg'), region_path(region), method: :delete,
                        data: { confirm: 'Вы действительно хотите удалить запись?' }%></td>
      </tr>
  <% end %>
</table>

<script>
  $('.country_filter > a').click(function () {
    var country_name = $(this).text();
    var create_str = 'td:contains(' + country_name + ')';
    $('tr.row_region').hide();
    $(create_str).parent().show('slow');
    //console.log($(create_str).parent());
    if('Все страны' == country_name) $('tr').show('slow');
  });
</script>