<h2 class="page-header">Добавить регион</h2>

<%= simple_form_for @region, url: region_index_path do |f| %>
  <%= f.input :name, label: 'Регион' %>
  <%= f.input :code, label: 'Код региона' %>
  <%= f.association :country, label: 'Страна' %>
  <%= link_to 'Назад', region_index_path, class: 'btn btn-primary btn-sm' %>
  <%= f.button :submit, value: 'Добавить регион', class: 'btn btn-primary btn-sm' %>
<% end %>
