<h2>Просмотр региона</h2>

<table>
  <tr>
    <td><strong>Страна:</strong></td>
    <td><%= @region.country.name %></td>
  </tr>
  <tr>
    <td><strong>Регион:</strong></td>
    <td><%= @region.name %></td>
  </tr>
  <tr>
    <td><strong>Код региона:</strong></td>
    <td><%= @region.code %></td>
  </tr>
</table>
<%= link_to 'Назад', region_index_path %>
<%= link_to 'Редактировать', edit_region_path(@region) %>
