<h2 class="page-header">Города</h2>

<%= link_to 'Добавить город', new_city_path, class: 'btn btn-primary navbar-btn' %>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Страна <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" id="all">Все страны</a></li>
    <% @country.each do |country| %>
        <li><a href="#" id="<%= country.id %>"><%= country.name %></a></li>
    <% end %>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Регион <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" id="all">Все регионы</a></li>
    <% @region.each do |region| %>
        <li><a href="#" id="<%= region.id %>"><%= region.name %></a></li>
    <% end %>
  </ul>
</div>

<table class="table table-hover">
  <tr>
    <th>Страна</th>
    <th>Название региона</th>
    <th>Город</th>
    <th>Код региона</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @city.each do |city| %>
      <tr>
        <td><%= city.region.country.name %></td>
        <td><%= city.region.name %></td>
        <td><%= city.name %></td>
        <td><%= city.region.code %></td>
        <td><%= link_to icon('eye', class: 'fa-lg'), city_path(city)%></td>
        <td><%= link_to icon('pencil', class: 'fa-lg'), edit_city_path(city)%></td>
        <td><%= link_to icon('trash', class: 'fa-lg'), method: :delete,
                        data: { confirm: 'Вы действительно хотите удалить запись?' }%></td>
      </tr>
  <% end %>
</table>