<h2 class="page-header">Добавить город</h2>

<%= simple_form_for @city, url: city_index_path do |f| %>
  <%= f.input :region_id, collection: @region_options, label: 'Страна / регион:' %>
  <%= f.input :name, label: 'Город' %>
  <%= link_to 'Назад', city_index_path, class: 'btn btn-primary btn-sm' %>
  <%= f.button :submit, value: 'Добавить город', class: 'btn btn-primary btn-sm' %>
<% end %>
