<h2>Просмотр города</h2>

<table>
  <tr>
    <td><strong>Страна:</strong></td>
    <td><%= @city.region.country.name %></td>
  </tr>
  <tr>
    <td><strong>Регион:</strong></td>
    <td><%= @city.region.name %></td>
  </tr>
  <tr>
    <td><strong>Код региона:</strong></td>
    <td><%= @city.region.code %></td>
  </tr>
    <td><strong>Город:</strong></td>
    <td><%= @city.name %></td>
  </tr>
</table>
<%= link_to 'Назад', city_index_path %>
<%= link_to 'Редактировать', edit_city_path(@city) %>