<h2 class="page-header"><%= @city.name %></h2>

<table class="table table-hover">
  <tr>
    <td><strong>Страна:</strong></td>
    <td><%= @city.region.country.name %></td>
  </tr>
  <tr>
    <td><strong>Регион:</strong></td>
    <td><%= @city.region.name %></td>
  </tr>
  <tr>
    <td><strong>Код региона:</strong></td>
    <td><%= @city.region.code %></td>
  </tr>
</table>
<br>
<%= link_to 'Назад', city_index_path, class: 'btn btn-primary btn-sm' %>
<%= link_to 'Редактировать', edit_city_path(@city), class: 'btn btn-primary btn-sm' %>