<h2 class="page-header">Турбазы</h2>

<%= link_to 'Добавить турбазу', new_tourist_base_path, class: 'btn btn-primary navbar-btn' %>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Страна <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" id="all">Все страны</a></li>
    <% @country.each do |country| %>
        <li><a href="#" id="<%= country.id %>"><%= country.name %></a></li>
    <% end %>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Регион <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" id="all">Все регионы</a></li>
    <% @region.each do |region| %>
        <li><a href="#" id="<%= region.id %>"><%= region.name %></a></li>
    <% end %>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Город <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" id="all">Все регионы</a></li>
    <% @city.each do |city| %>
        <li><a href="#" id="<%= city.id %>"><%= city.name %></a></li>
    <% end %>
  </ul>
</div>

<table class="table table-hover">
  <tr>
    <th class="text-center">Страна</th>
    <th class="text-center">Название региона</th>
    <th class="text-center">Город</th>
    <th class="text-center">Код региона</th>
    <th class="text-center">Название турбазы</th>
    <th class="text-center">Описание</th>
    <th class="text-center">Телефон</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @tourist_base.each do |tourist_base| %>
      <tr>
        <td><%= tourist_base.city.region.country.name %></td>
        <td><%= tourist_base.city.region.name %></td>
        <td><%= tourist_base.city.name %></td>
        <td><%= tourist_base.city.region.code %></td>
        <td><%= tourist_base.name %></td>
        <td><%= tourist_base.description %></td>
        <td><%= tourist_base.phone %></td>
        <td><%= link_to icon('eye', class: 'fa-lg'), tourist_base_path(tourist_base)%></td>
        <td><%= link_to icon('pencil', class: 'fa-lg'), edit_tourist_base_path(tourist_base)%></td>
        <td><%= link_to icon('trash', class: 'fa-lg'), tourist_base_path(tourist_base), method: :delete,
                        data: { confirm: 'Вы действительно хотите удалить запись?' }%></td>
      </tr>
  <% end %>
</table>