<h2 class="page-header">Турбазы</h2>

<%= link_to 'Добавить турбазу', new_tourist_base_path, class: 'btn btn-primary navbar-btn' %>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Страна <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="country_filter"><a href="#" id="country_all">Все страны</a></li>
    <% @country.each do |country| %>
        <li class="country_filter"><a href="#" id="country_<%= country.id %>"><%= country.name %></a></li>
    <% end %>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Регион <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="region_filter"><a href="#" id="region_all">Все регионы</a></li>
    <% @region.each do |region| %>
        <li class="region_filter"><a href="#" id="region_<%= region.id %>"><%= region.name %></a></li>
    <% end %>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Город <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="city_filter"><a href="#" id="city_all">Все города</a></li>
    <% @city.each do |city| %>
        <li class="city_filter"><a href="#" id="city_<%= city.id %>"><%= city.name %></a></li>
    <% end %>
  </ul>
</div>

<table class="table table-hover">
  <tr>
    <th class="text-center">Страна</th>
    <th class="text-center">Название региона</th>
    <th class="text-center">Город</th>
    <th class="text-center">Код региона</th>
    <th class="text-center">Название турбазы</th>
    <th class="text-center">Описание</th>
    <th class="text-center">Телефон</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @tourist_base.each do |tourist_base| %>
      <tr class="row_tourist_base">
        <td><%= tourist_base.city.region.country.name %></td>
        <td><%= tourist_base.city.region.name %></td>
        <td><%= tourist_base.city.name %></td>
        <td><%= tourist_base.city.region.code %></td>
        <td><%= tourist_base.name %></td>
        <td><%= tourist_base.description %></td>
        <td><%= tourist_base.phone %></td>
        <td><%= link_to icon('eye', class: 'fa-lg'), tourist_base_path(tourist_base)%></td>
        <td><%= link_to icon('pencil', class: 'fa-lg'), edit_tourist_base_path(tourist_base)%></td>
        <td><%= link_to icon('trash', class: 'fa-lg'), tourist_base_path(tourist_base), method: :delete,
                        data: { confirm: 'Вы действительно хотите удалить запись?' }%></td>
      </tr>
  <% end %>
</table>

<script>
  $('.country_filter > a').click(function () {
    var country_name = $(this).text();
    var create_str = 'td:contains(' + country_name + ')';
    $('tr.row_tourist_base').hide();
    $(create_str).parent().show('slow');
    if('Все страны' == country_name) $('tr').show('slow');
  });

  $('.region_filter > a').click(function () {
    var country_name = $(this).text();
    var create_str = 'td:contains(' + country_name + ')';
    $('tr.row_tourist_base').hide();
    $(create_str).parent().show('slow');
    if('Все регионы' == country_name) $('tr').show('slow');
  });

  $('.city_filter > a').click(function () {
    var country_name = $(this).text();
    var create_str = 'td:contains(' + country_name + ')';
    $('tr.row_tourist_base').hide();
    $(create_str).parent().show('slow');
    if('Все города' == country_name) $('tr').show('slow');
  });
</script>