<h2 class="page-header">Добавить турбазу</h2>

<%= simple_form_for @tourist_base, url: tourist_base_index_path do |f| %>
  <%= f.input :city_id, collection: @city_options, label: 'Город' %>
  <%= f.input :name, label: 'Название турбазы:' %>
  <%= f.input :description, label: 'Описание:' %>
  <%= f.input :phone, label: 'Телефон' %>
  <%= link_to 'Назад', tourist_base_index_path, class: 'btn btn-primary btn-sm' %>
  <%= f.button :submit, value: 'Добавить турбазу', class: 'btn btn-primary btn-sm' %>
<% end %>