<h2 class="page-header"><%= @tourist_base.name %></h2>

<table class="table table-hover">
  <tr>
    <td><strong>Страна:</strong></td>
    <td><%= @tourist_base.city.region.country.name %></td>
  </tr>
  <tr>
    <td><strong>Регион:</strong></td>
    <td><%= @tourist_base.city.region.name %></td>
  </tr>
  <tr>
    <td><strong>Код региона:</strong></td>
    <td><%= @tourist_base.city.region.code %></td>
  </tr>
  <tr>
  <td><strong>Город:</strong></td>
  <td><%= @tourist_base.city.name %></td>
  </tr>
  <tr>
  <td><strong>Описание:</strong></td>
  <td><%= @tourist_base.description %></td>
  </tr>
  <tr>
  <td><strong>Телефон:</strong></td>
  <td><%= @tourist_base.phone %></td>
  </tr>
</table>
<%= link_to 'Назад', tourist_base_index_path, class: 'btn btn-primary btn-sm' %>
<%= link_to 'Редактировать', edit_tourist_base_path(@tourist_base), class: 'btn btn-primary btn-sm' %>